body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
        background: linear-gradient(to right, rgb(130, 97, 57), rgb(255, 239, 219),rgb(130, 97, 57));
        width: 100%;
        height: 150px;
        padding: 20px;
        text-align: center;
        color: rgb(109, 62, 0);
}
    

.search-bar-container {
    display: block;
    margin-top: 10px;
    position:  relative;
    display: flex ;
    justify-content: flex-end;

}

.search-bar {
    width: 300px;
    height: 25px;
    border-radius: 12px;
    border: 2px solid burlywood;
    font-size: 15px;
    padding-left: 10px;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
}
.search-button{
    height: 27px;
    width: 60px;
    background-color: white;
    border: none;
    border-right: 2px solid rgb(222, 184, 135);
    border-radius: 12px;
    position:  absolute;
    top: 2px;
    display: flex ;
    justify-content: center;
    align-items: center;
}
.search-icon{
    height: 22px;
}

.content-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; 
    justify-content: space-between;
    width: 800px;
    margin-right: 100px;
}

.book-lists, .top10, .quotes-container {
    width: 80%;
    height: 300px;
    margin-bottom: 20px;
    position: relative;
    margin-left: 100px;
}

.quotes-container{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.book-lists::before, .top10::before, .left::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    opacity: 0.4;
    z-index: -1;
}

.book-lists::before {
    background-image: url("pictures/books.webp");
}

.top10::before {
    background-image: url("pictures/top10.jpg");
}

.left::before {
    background-image: url("pictures/quoyes.avif");
}

.arrow-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.arrow {
    width: 130px;
    height: 80px;
}

.book-lists p, .quotes-container p, .t-left p {
    color: rgb(147, 84, 0);
    text-align: center;
    font-size: 2em;
    margin: 70px;
    padding: 100px;
}

.quotes-container p{
    padding: 10px;
}

.quotes {
    font-size: 24px;
    font-weight: bold;
}

.author {
    font-size: 16px;
    white-space: nowrap;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
}

.right {
    flex: 1;
    order: 2;
}

.book-lists:hover, .top10:hover, .quotes-container:hover {
    height: 330px;
    transition: height 0.5s;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.30);
}

footer {
    background-color: beige;
    display: flex;
    justify-content: space-between;
    height: 200px;
    padding: 20px;
    width: 100%;
}

.contact, .feedback {
    flex: 1;
}

.feedback-box {
    width: 400px;
    height: 100px;
    resize: none;
    overflow: auto;
    color: gray;
    border: 1px solid burlywood;
    border-radius: 15px;
    padding: 10px;
}

.submit-button {
    display: block;
    background-color: rgb(224, 194, 155);
    width: 90px;
    height: 23px;
    border-radius: 10px;
    border: 2px solid burlywood;
    margin-top: 5px;
}
